aiobotocore==2.14.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
astor==0.8.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==24.2.0
bandit==1.7.9
black==24.8.0
botocore==1.35.7
certifi==2024.8.30
click==8.1.7
darglint==1.8.1
docutils==0.21.2
eradicate==2.3.0
fastapi==0.112.0
flake8==7.1.1
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==24.8.19
flake8-commas==2.1.0
flake8-comprehensions==3.15.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
frozenlist==1.4.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.7
iniconfig==2.0.0
isort==5.13.2
jmespath==1.0.1
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.5
mypy==1.11.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pbr==6.1.0
pep8-naming==0.13.3
platformdirs==4.2.2
pluggy==1.5.0
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pydantic==2.8.2
pydantic_core==2.20.1
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.3.3
pytest-asyncio==0.24.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.2
restructuredtext-lint==1.4.0
rich==13.8.1
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
SQLAlchemy==2.0.35
starlette==0.37.2
stevedore==5.3.0
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.5
wemake-python-styleguide==0.19.2
wrapt==1.16.0
yarl==1.9.4
